<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<a href="/new"><button type="button">新規投稿</button> </a>
	<form action="narrow" method="get">
        <input type="date" name="startDate" th:value=${startDate}>～
        <input type="date" name="endDate" th:value=${endDate}>
        <input type="submit" value="絞り込み">
	</form>
	<table border="1"> <!-- border（枠線）を持った表を作成 -->
	    <caption>投稿</caption>
		<tr>
			<th>ID</th>
			<th>内容</th>
			<th>編集</th>
			<th>削除</th>
		</tr>
		<tr th:each="content : ${contents}">
			<td><div th:text="${content.id}"/></td>
			<td>
			    <table>
			        <tr>
			            <th>Report</th>
			            <th>:</th>
			            <td><div th:text="${content.content}"/></td>
			        </tr>
			        <tr>
			            <th>投稿時間</th>
			            <th>:</th>
			            <td><div th:text="${#dates.format(content.createdDate, 'yyyy年MM月dd日 HH時mm分ss秒')}"/></td>
			        </tr>
			        <th:block th:each="comment : ${comments}">
			        <th:block th:if="${comment.commentId == content.id}">
			        <tr>
			            <th>Comment</th>
			            <th>:</th>
				        <td><div th:text="${comment.content}"/>
				    </tr>
				    <tr>
			            <th>投稿時間</th>
			            <th>:</th>
			            <td><div th:text="${#dates.format(comment.createdDate, 'yyyy年MM月dd日 HH時mm分ss秒')}"/>
			            </td>
			        </tr>
			        <tr>
			            <th>
			            <th>
			            <td><a th:href="@{/editComment/{id}(id=${comment.id})}"><button type="button">コメントの編集</button></a>
			                <a th:href="@{/deleteComment/{id}(id=${comment.id})}"><button type="button">コメントの削除</button></a>
				        </td>
				    </tr>
				    </th:block>
				    </th:block>
				</table>
		    </td>
		    <!-- 編集ボタンの設置 -->
			<td><a th:href="@{/edit/{id}(id=${content.id})}"><button type="button">編集</button></a>
			    <br><a th:href="@{/comment/{id}(id=${content.id})}"><button type="button">コメント</button></a>
			<!-- 削除ボタンの設置 -->
			<td><a th:href="@{/delete/{id}(id=${content.id})}"><button type="button">削除</button></a>
		</tr>
	</table>
</body>
</html>